.h1{
    
    background-color: white;
    width: 10rem;
    height: 10rem;
    color:black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.divButton{
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}